<%= turbo_frame_tag "src_frame" do %>
  <p>Current time: <%= Time.current %></p>

  This is great for adding dynamic content. Just change the src from javascript and theres no need to make fetch requests.
<% end %>